html,
body {
  height: 100%; /* flexbox requirement */
}

/* fix images being larger then the screensize (mobile mostly) */
img {
  max-width: 100%;
}

/* Root element height is full screen height */
#root {
  height: 100%;
}

/* 
 * Toast manipulation
 * Center it for visibility 
 */
#toast-container {
  top: 80% !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
  max-width: 200px;
  text-align: center;
}

/* Necessary css to center the toast text */
#toast-container .toast {
  display: inline-block;
}

/* Mobile navigation styles */
.mobile-nav {
  height: auto;
  line-height: 1;
}

.mobile-nav .row {
  margin-bottom: 0;
}
