html, body {
  height: 100%; /* flexbox requirement */
}

/* fix images being larger then the screensize (mobile mostly) */
img {
  max-width: 100%;
}

#root {
  height: 100%;
}

.app {
  background-color: #EEE;
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  background-color: white;
  max-height: 100vh;   /* for 100% viewport height */
  flex: 1;
  -webkit-overflow-scrolling: touch; /* mobile safari */
  overflow-y: auto; /* make element scrollable  */
}

/* 
 * Toast manipulation
 * Center it for visibility 
 */
 @media only screen and (max-width: 600px) {
  #toast-container {
    min-width: 60%;
    bottom: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
